name: Create Resource Bundle

on:
  push:
    branches: '*'
    tags: 'v*'

  pull_request:
    branches:
      - master

jobs:
  build_qemu_linux:
    name: Build QEMU on Linux
    runs-on: ubuntu-latest
    container: alpine
    steps:
      - name: Clone Repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Install Bash
        run: apk add --no-cache bash

      - name: Run CI Script
        run: ./ci.sh

      - name: Extract Version
        id: version
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/v}

      - name: Create Release
        id: create_release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          name: Resources ${{ steps.version.outputs.VERSION }}
          draft: true
          files: '*.tar'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_qemu_macos:
    name: Build QEMU on macOS
    runs-on: macos-10.15
    steps:
      - name: Clone Repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Install Bash
        run: brew install bash

      - name: Extract bhyve UEFI firmware
        uses: cross-platform-actions/action@v0.4.0
        with:
          operating_system: freebsd
          version: '13.0'
          run: |
            sudo pkg update
            sudo pkg install -y uefi-edk2-bhyve
            cp /usr/local/share/uefi-firmware/BHYVE_UEFI.fd uefi.fd

      - name: Run CI Script
        run: ./ci.sh

      - name: Extract Version
        id: version
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/v}

      - name: Create Release
        id: create_release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          name: Resources ${{ steps.version.outputs.VERSION }}
          draft: true
          files: '*.tar'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
