name: Create Resource Bundle

on:
  push:
    branches: '*'
    tags: 'v*'

  pull_request:
    branches:
      - master

jobs:
  build_qemu_linux:
    name: Build QEMU on Linux
    runs-on: ubuntu-latest
    container: alpine
    steps:
      - name: Clone Repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Install Ruby
        run: apk add --no-cache ruby ruby-bundler ruby-minitest file

      - name: Run CI Script
        run: ./ci.rb

      - name: Run Tests
        run: ./test.rb

      - name: Extract Version
        id: version
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/v}

      - name: Create Release
        id: create_release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          name: Resources ${{ steps.version.outputs.VERSION }}
          draft: true
          files: '*.tar'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_qemu_macos:
    name: Build QEMU on macOS
    runs-on: macos-11
    steps:
      - name: Clone Repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Run CI Script
        run: ./ci.rb

      - name: Run Tests
        run: ./test.rb

      - name: Extract Version
        id: version
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/v}

      - name: Create Release
        id: create_release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v1
        with:
          name: Resources ${{ steps.version.outputs.VERSION }}
          draft: true
          files: '*.tar'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
